<%= simple_form_for(@tuto) do |f| %>

    <% if @tuto.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@tuto.errors.count, "error") %> prohibited this tuto from being saved:</h2>
        <ul>
        <% @tuto.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
  <%= f.input :name %>
  <%= f.input :content %>

  <div class="actions">
    <%= f.button :submit, "Save" %>
  </div>
<% end %>
